# Dependencies
node_modules/
.DS_Store
dist/
dist-ssr
*.local

# Databases
backend/dev.db
backend/dev.db-journal

# Environment
.env
.env.production

# IDEs
.vscode/
.idea/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
